{% extends 'djangoapp/base.html' %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
{% block body_block %}
<!--Add review form here -->
<div class="container mt-5 mb-5 p-3">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    {% endif %}
    <h1>Add a review for {{dealer_info}}</h1>
    <form style="font-weight: bold" action="{% url 'djangoapp:add_review' dealer_id %}" method="POST">
        {% csrf_token %}
        <div class="form-group mt-5 mb-5 w-75">
            <label for="review">Write your review here</label>
            <textarea class="form-control" id="review" name="review" rows="2" required></textarea>
        </div>
        <div class="form-check mt-3 mb-3">
            <label class="form-check-label">
            <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
            Did you purchase the car from {{dealer_info}}?
            </label>
        </div>
        <div class="form-group mt-3 mb-3">
            <label for="car">Select the Car</label>
            <select class="form-select" name="car" id="car" required>
                {% for car in cars %}
                    <option value="{{car.id}}">
                        {{car.CarMake.Name}} {{car.Name}} {{car.CarType}} - {{car.Year}}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="purchasedate">Date of purchase</label>
            <input class="date-own" type="text" name="purchasedate" id="purchasedate"/>
        </div>
        <button class="btn-primary mt-3 mb-3 p-1" type="submit">Submit</button>
    </form>
</div>
<script>
    $('#purchasedate').datepicker({
        format: 'mm/dd/yyyy',
        autoclose: true,
        todayHighlight: true,
        endDate: '0',
        orientation: "left top"
        });
</script>
{% endblock %}
